# Dependencies
node_modules
backend/node_modules

# Build outputs
dist
build

# Environment variables
.env
.env.local

# Logs
*.log
backend/access.log
backend/resumes

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
